header {
  position: relative; 
  overflow: hidden;
}
header h1 {
  font-size: 80px;
  z-index: 2;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: red; 
  background-clip: text;
  background: linear-gradient(to right, red, white); 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent; 
  transition: background-color 1s ease; 
  font-weight: bold;
}

.headerBackground{
  width: 100vw; 
  height: 300px; 
  background-image: url('/media/diseño/cabeceramoderna.jpg'); 
  background-size: cover; 
  background-position: center; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}
.headerBackground::before {
  content: ''; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1; 
}

main {
  display: flex;
  flex-direction: row; /* Cambia a row para colocar el menú y contenido uno al lado del otro */
}

.menu-aside {
  flex: 0 0 250px; /* Fijo a 250px o el ancho que prefieras para el menú */
  /* Opcionalmente, añade más estilo al menú, como un fondo */
  background-color: #f9f9f9; /* Fondo claro para diferenciar */
  padding: 10px; /* Espaciado interno */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}
.contenedorPrincipal {
  flex: 1; /* Permite que el contenedor use el espacio restante */
  padding: 10px; /* Espaciado interno */
  display: flex; /* Usa flex para permitir un mejor control de alineación */
  flex-direction: column; /* Alinea los hijos en una columna */
  align-items: center; /* Centra los hijos horizontalmente */
  
}
.contenedorPrincipal h2{
  text-align: center;
  text-decoration: underline overline;
}


.recetaContenedor {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 10px 0;
}

.ImagenLista {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-right: 20px; 
}

.recetaContenedor img {
  width: 400px;
  height: auto;
}

.ingredientes {
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;
  margin-top: 10px; 
  margin-bottom: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ingredientes h3{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

.detallesReceta {
  display: flex;
  flex-direction: column;
  max-width: 400px; 
}
.preparacion {
  
  text-align: justify;
  line-height: 1.2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
}
.preparacion h3{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

